.container {
    display: flex;
    gap: 10px;
    width: 80%;
    margin: auto;
}

.box {
    background-color: rgb(249, 151, 3);
    text-align: center;
    padding: 20px;
    border: 1px solid #000;

}

.box:nth-child(3) {
    flex-grow: 2;
    background-color: lightcoral;
}