.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    align-items: center;
    gap: 10px;
    padding: 20px;
    height: 100vh;
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(181, 6, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #000000;
}

.box:nth-child(3){
    flex-grow: 0.5;
    font-size: 14px;
}