.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
    padding: 5px;
    background-color: rgb(128, 250, 246);
    border: 7px solid blue;
}
.grid-container div{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    border: 4px solid rgb(163, 0, 84) ;
}
.grid-item-8-9{
    grid-column: span 4;
}

.grid-item{
    grid-row: span 4;
}